* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'LEMON MILK';
    font-weight: 400;
    src: url('/fonts/LEMONMILK-BOLD.otf') format('opentype');
    src: url('/fonts/Milk.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Regular';
    font-weight: 400;
    src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
    src: url('/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat SemiBold';
    font-weight: 400;
    src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
    src: url('/fonts/Montserrat-SemiBold.woff') format('woff');

}

body {
    font-family: Montserrat Regular;
    background-color: #323232;
}

/* Début du menu */
.header {
    overflow: hidden;
    background-color: #505050;
    padding: 20px 10px;
    text-align: center;
}

.header a {
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    margin: 4.5rem;
    padding-bottom: 25px;
}

.accueil {
    margin-left: 4.5rem;
    ;
}

.header a:hover {
    color: #EFC09A;
}

.header a:hover.actif {
    color: #EFC09A;
}

.header-right {
    float: center;
}

.logo {
    height: 100px;
    width: 100px;
    vertical-align: middle;
    padding-right: 2.5rem;
}

@media screen and (max-width: 992px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
        margin: 0;
    }

    .header-right {
        float: none;
    }

    .accueil {
        margin-left: 0px;
    }

    .logo {
        float: none;
        display: block;
        text-align: left;
        margin: 0;
    }

}

/* Fin du menu */

.admin-connect {
    display: flex;
    border-radius: 15px;
    background-color: white;
    margin: 70px;
    padding: 30px;
    justify-content: center;
}

.titre-connect {
    color: #E59154;
    text-align: center;
    padding-bottom: 20px;
    font-family: Montserrat SemiBold;
    font-style: 48px;
}

.admin-box {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.login-texte {
    display: flex;
    justify-content: center;
    margin-right: 230px;
}

.mdp-texte {
    display: flex;
    justify-content: center;
    margin-right: 102px;
}

.user {
    color: #323232;
    width: 300px;
    height: 40px;
    border-style: solid;
    border-color: #E59154;
    background-color: transparent;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 15px;
    font-family: Montserrat Regular;
    border-width: 3px;
    text-decoration: none;
}

.user::placeholder {
    color: #ADADAD;
}

.mdp {
    color: #323232;
    width: 300px;
    height: 40px;
    border-style: solid;
    border-color: #E59154;
    background-color: transparent;
    font-size: 13px;
    margin-top: 10px;
    padding-left: 15px;
    font-family: Montserrat Regular;
    border-width: 3px;
    text-decoration: none;
}

.mdp::placeholder {
    color: #ADADAD;
}

.connect {
    color: white;
    width: 300px;
    height: 40px;
    border-style: solid;
    border-color: #E59154;
    background-color: #E59154;
    font-size: 13px;
    margin-top: 50px;
    font-family: Montserrat Regular;
    text-decoration: none;
}

.connect::placeholder {
    color: #E59154;
}

.send {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    .admin-connect {
        display: flex;
        border-radius: 15px;
        background-color: white;
        margin: 40px;
        padding: 30px;
        justify-content: center;
    }
}

@media screen and (min-width: 992px) {
    .admin-connect {
        display: flex;
        border-radius: 15px;
        background-color: white;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 300px;
        margin-left: 300px;
        padding: 30px;
        justify-content: center;
    }
    
}

.footer {
    display: flex;
    padding: 0;
    background-color: #505050;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.footer>div {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: center;
    color: white;
    align-items: center;
}

.footer>div>div>a {
    display: flex;
    width: 100%;
    list-style-type: none;
    color: white;
    align-items: center;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

.footer>div>.mentions {
    margin-right: 20px;
}

.footer>div>.confid {
    margin-left: 20px;
}

.footer a:hover {
    color: #EFC09A;
}

.footer>.social>div>a>.twitter {
    margin-right: 20px;
}

.footer>div>div>a>i {
    display: flex;
    width: 100%;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 24px;
}

.end-footer {
    color: white;
    font-size: 12px;
    background-color: #505050;
    text-align: center;
}