* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'LEMON MILK';
    font-weight: 400;
    src: url('/fonts/LEMONMILK-BOLD.otf') format('opentype');
    src: url('/fonts/Milk.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Regular';
    font-weight: 400;
    src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
    src: url('/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat SemiBold';
    font-weight: 400;
    src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
    src: url('/fonts/Montserrat-SemiBold.woff') format('woff');

}

body {
    font-family: Montserrat Regular;
    background-color: #323232;
}

/* Début du menu */
.header {
    overflow: hidden;
    background-color: #505050;
    padding: 20px 10px;
    text-align: center;
}

.header a {
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    margin: 4.5rem;
    padding-bottom: 25px;
}

.accueil {
    margin-left: 4.5rem;
    ;
}

.header a:hover {
    color: #EFC09A;
}

.header a.actif {
    color: #EFC09A;
}

.header a:hover.actif {
    color: #EFC09A;
}

.header-right {
    float: center;
}

.logo {
    height: 100px;
    width: 100px;
    vertical-align: middle;
    padding-right: 2.5rem;
}

@media screen and (max-width: 992px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
        margin: 0;
    }

    .header-right {
        float: none;
    }

    .accueil {
        margin-left: 0px;
    }

    .logo {
        float: none;
        display: block;
        text-align: left;
        margin: 0;
    }

}

/* Fin du menu */

.nos-menus {
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    text-align: center;
}

.titre {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.titre>h2 {
    font-family: Montserrat SemiBold;
    font-size: 42px;
    color: white;
}

.nos-cocktails {
    color: white;
    flex: 1 0 33%;
    margin-bottom: 50px;
    justify-content: center;
}

.nos-cocktails>img {
    width: auto;
    height: 250px;
    transition: transform 0.3s;
}

.nos-cocktails>img:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}


.footer {
    display: flex;
    padding: 0;
    background-color: #505050;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.footer>div {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: center;
    color: white;
    align-items: center;
}

.footer>div>div>a {
    display: flex;
    width: 100%;
    list-style-type: none;
    color: white;
    align-items: center;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

.footer>div>.mentions {
    margin-right: 20px;
}

.footer>div>.confid {
    margin-left: 20px;
}

.footer>.social>div>a>.twitter {
    margin-right: 20px;
}

.footer>div>div>a>i {
    display: flex;
    width: 100%;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 24px;
}

.end-footer {
    color: white;
    font-size: 12px;
    background-color: #505050;
    text-align: center;
}
