* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'LEMON MILK';
    font-weight: 400;
    src: url('/fonts/LEMONMILK-BOLD.otf') format('opentype');
    src: url('/fonts/Milk.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Regular';
    font-weight: 400;
    src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
    src: url('/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat SemiBold';
    font-weight: 400;
    src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
    src: url('/fonts/Montserrat-SemiBold.woff') format('woff');

}

body {
    font-family: Montserrat Regular;
    background-color: #323232;
}

.partie-create {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.div-gauche-create {
    width: 15%;
}

.div-droite-create {
    width: 15%;
}

.create {
    color: white;
    width: 70%;
}

.create h2 {
    font-family: Montserrat SemiBold;
    padding-top: 40px;
    padding-bottom: 60px;
    font-size: 36px;
    color: #E59154;
}

.composition {
    padding-left: 262px;
}

.image-cocktail {
    color: #ADADAD;
    width: 300px;
    border-style: solid;
    border-color: #E59154;
    background-color: transparent;
    font-size: 13px;
    padding: 25px;
    margin-right: 35px;
    font-family: Montserrat Regular;
    border-width: 3px;
    text-decoration: none;
}

.titre-cocktail {
    color: white;
    width: 300px;
    border-style: solid;
    border-color: #E59154;
    background-color: transparent;
    font-size: 13px;
    padding: 25px;
    margin-right: 35px;
    font-family: Montserrat Regular;
    border-width: 3px;
    text-decoration: none;
}

.titre-cocktail::placeholder {
    color: #ADADAD;
}

.prix-cocktail {
    color: white;
    width: 300px;
    border-style: solid;
    border-color: #E59154;
    background-color: transparent;
    font-size: 13px;
    padding: 25px;
    margin-right: 35px;
    font-family: Montserrat Regular;
    border-width: 3px;
    text-decoration: none;
}

.prix-cocktail::placeholder {
    color: #ADADAD;
}

.description-cocktail {
    color: white;
    width: 500px;
    max-width: 500px;
    min-width: 500px;
    height: 110px;
    border-style: solid;
    border-color: #E59154;
    background-color: transparent;
    font-size: 13px;
    padding: 25px;
    margin-right: 35px;
    font-family: Montserrat Regular;
    border-width: 3px;
    text-decoration: none;
}

.description-cocktail::placeholder {
    color: #ADADAD;
}

.ajouter {
    color: white;
    width: 200px;
    border-style: solid;
    border-color: #E59154;
    background-color: transparent;
    font-size: 13px;
    padding: 25px;
    margin-right: 35px;
    font-family: Montserrat Regular;
    border-width: 3px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.ajouter:hover {
    color: white;
    background-color: #e59154;
    transition: 0.5s;
}

.retour {
    color: white;
    width: 100px;
    border-style: solid;
    border-color: #E59154;
    background-color: #E59154;
    font-size: 13px;
    padding: 5px;
    justify-content: center;
    font-family: Montserrat Regular;
    border-width: 3px;
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
    margin-top: 25px;
    margin-left: 31%;
    margin-bottom: 25px;
    cursor: pointer;
}