* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat Regular;
    background-color: #323232;
}

.partie-edit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.div-gauche-edit {
    width: 15%;
}

.div-droite-edit {
    width: 15%;
}

.edit {
    color: white;
    width: 70%;
}

.edit h2 {
    font-family: Montserrat SemiBold;
    padding-top: 40px;
    padding-bottom: 60px;
    font-size: 36px;
    color: #E59154;
}

.composition {
    padding-left: 262px;
}

.image-event{
    color: #ADADAD;
    width: 300px;
    border-style: solid;
    border-color: #E59154;
    background-color: transparent;
    font-size: 13px;
    padding: 25px;
    margin-right: 35px;
    font-family: Montserrat Regular;
    border-width: 3px;
    text-decoration: none;
}

.titre-event {
    color: white;
    width: 300px;
    border-style: solid;
    border-color: #E59154;
    background-color: transparent;
    font-size: 13px;
    padding: 25px;
    margin-right: 35px;
    font-family: Montserrat Regular;
    border-width: 3px;
    text-decoration: none;
}

.titre-event::placeholder {
    color: #ADADAD;
}

.date-event {
    color: #ADADAD;
    width: 300px;
    border-style: solid;
    border-color: #E59154;
    background-color: transparent;
    font-size: 13px;
    padding: 25px;
    margin-right: 35px;
    font-family: Montserrat Regular;
    border-width: 3px;
    text-decoration: none;
}

.date-event::placeholder {
    color: #ADADAD;
}

.description-event {
    color: white;
    width: 500px;
    max-width: 500px;
    min-width: 500px;
    height: 110px;
    border-style: solid;
    border-color: #E59154;
    background-color: transparent;
    font-size: 13px;
    padding: 25px;
    margin-right: 35px;
    font-family: Montserrat Regular;
    border-width: 3px;
    text-decoration: none;
}

.description-event::placeholder {
    color: #ADADAD;
}

.ajouter {
    color: white;
    width: 200px;
    border-style: solid;
    border-color: #E59154;
    background-color: transparent;
    font-size: 13px;
    padding: 25px;
    margin-right: 35px;
    font-family: Montserrat Regular;
    border-width: 3px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.ajouter:hover {
    color: white;
    background-color: #e59154;
    transition: 0.5s;
}

.retour {
    color: white;
    width: 100px;
    border-style: solid;
    border-color: #E59154;
    background-color: #E59154;
    font-size: 13px;
    padding: 5px;
    justify-content: center;
    font-family: Montserrat Regular;
    border-width: 3px;
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
    margin-top: 25px;
    margin-left: 31%;
    margin-bottom: 25px;
    cursor: pointer;
}