* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: Montserrat Regular;
    background-color: #323232;
}

.nos-menus {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.nos-events {
    flex: 1 0 33%;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

img {
    width: auto;
    max-height: 250px;
}

.retour {
    color: white;
    width: 100px;
    border-style: solid;
    border-color: #E59154;
    background-color: #E59154;
    font-size: 13px;
    padding: 5px;
    justify-content: center;
    font-family: Montserrat Regular;
    border-width: 3px;
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
    margin-top: 25px;
    margin-left: 5%;
    margin-bottom: 25px;
    cursor: pointer;
}

button {
    color: white;
    width: 150px;
    border-style: solid;
    border-color: #E59154;
    background-color: #E59154;
    font-size: 13px;
    padding: 5px;
    justify-content: center;
    font-family: Montserrat Regular;
    border-width: 3px;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

.trash {
    margin-left: 20px;
}

a {
    text-decoration: none;
}